//.main{
	background-image: url('.././img/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:97vh;
	background-position:center;
	background-attachment:fixed;
}


.food{
	width:100px;
	height:100px;
}


.color {
	text-align:left;
	color:black;
}

h4 {
  text-align: right;
}

dd {
  text-align:left;
  margin:0;
}

.second {
  height: 97vh;
}

.second::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pics/pc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1; 
}

.third {
  height: 97vh;
}

.third::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pics/cc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1; 
}

.fourth {
  height: 97vh;
}

.fourth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pics/bs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1; 
}

.fifth {
  height: 97vh;
}

.fifth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pics/sg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1; 
}

.sixth {
  height: 97vh;
}

.sixth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pics/ss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1; 
}